Source: blankon-branding
Priority: optional
Section: gnome
Maintainer: BlankOn Developers <BlankOn-Dev@googlegroups.com>
Standards-Version: 3.7.0
Build-Depends: debhelper, cdbs, coreutils

Package: blankon-branding-gimp
Architecture: all
Depends: ${shlibs:Depends}, gimp
Description: Rebranding paket GIMP Ubuntu ke paket GIMP BlankOn

Package: blankon-branding-libreoffice
Architecture: all
Depends: ${shlibs:Depends}, libreoffice.org-core
Description: Rebranding paket LibreOffice Ubuntu ke paket LibreOffice BlankOn

Package: blankon-branding-inkscape
Architecture: all
Depends: ${shlibs:Depends}, inkscape
Description: Rebranding paket Inkscape Ubuntu ke paket Inkscape BlankOn

Package: blankon-branding-tango-icon-theme
Architecture: all
Depends: ${shlibs:Depends}, tango-icon-theme
Description: Rebranding paket tango-icon-theme Ubuntu ke paket tango icontheme BlankOn

Package: blankon-branding-tangerine-icon-theme
Architecture: all
Depends: ${shlibs:Depends}, tangerine-icon-theme
Description: Rebranding paket tangerine-icon-theme Ubuntu ke paket tangerine-icon-theme BlankOn

Package: blankon-branding-system-config-printer
Architecture: all
Depends: ${shlibs:Depends}, system-config-printer-gnome
Description: Rebranding paket system-config-printer-gnome Ubuntu ke system-config-printer-gnome-blankon

Package: blankon-branding-gnucash
Architecture: all
Depends: ${shlibs:Depends}, gnucash
Description: Rebranding paket GNUCash Ubuntu ke paket GNUCash BlankOn

Package: blankon-branding-exaile
Architecture: all
Depends: ${shlibs:Depends}, exaile
Description: Rebranding paket exaile Ubuntu ke paket exaile BlankOn

Package: blankon-branding-pidgin
Architecture: all
Depends: ${shlibs:Depends}, pidgin
Description: Rebranding paket pidgin Ubuntu ke paket pidgin BlankOn

Package: blankon-branding-network-manager-gnome
Architecture: all
Depends: ${shlibs:Depends}, network-manager-gnome
Description: Add LXDE into nm-applet.desktop

Package: blankon-branding-base-files
Architecture: all
Depends: ${shlibs:Depends}, base-files
Description: Rebranding paket base-file Ubuntu ke paket base-file BlankOn

Package: blankon-branding-checkbox
Architecture: all
Depends: ${shlibs:Depends}, checkbox
Description: Rebranding paket checkbox Ubuntu ke paket checkbox BlankOn
 Mengganti image di hardware test

Package: blankon-branding-launchpad-integration
Architecture: all
Depends: ${shlibs:Depends}, launchpad-integration
Description: Rebranding paket launchpad-integration Ubuntu ke paket launchpad-ingration BlankOn
 Menambahkan berkas urls.py sehingga launchpad mengenali distro ini sebagai BlankOn bukan ubuntu
