Source: nanggar-branding
Priority: optional
Section: gnome
Maintainer: BlankOn Developers <BlankOn-dev@googlegroups.com>
Standards-Version: 3.7.0
Build-Depends: debhelper, cdbs, coreutils

Package: nanggar-branding-apt
Architecture: any
Depends: ${shlibs:Depends}, apt
Description: Rebranding Ubuntu APT to BlankOn APT Package

Package: nanggar-branding-gimp
Architecture: all
Depends: ${shlibs:Depends}, gimp
Description: Rebranding Ubuntu GIMP Package to BlankOn GIMP Package

Package: nanggar-branding-ooo
Architecture: all
Depends: ${shlibs:Depends}, openoffice.org-core
Description: Rebranding Ubuntu OpenOffice Package to BlankOn OpenOffice Package

Package: nanggar-branding-inkscape
Architecture: all
Depends: ${shlibs:Depends}, inkscape
Description: Rebranding Ubuntu Inkscape Package to BlankOn Inkscape Package

Package: nanggar-branding-tango-icon-theme
Architecture: all
Depends: ${shlibs:Depends}, tango-icon-theme
Description: Rebranding Ubuntu tango-icon-theme Package to BlankOn tango-icon-theme Package

Package: nanggar-branding-tangerine-icon-theme
Architecture: all
Depends: ${shlibs:Depends}, tangerine-icon-theme
Description: Rebranding Ubuntu tangerine-icon-theme Package to BlankOn tangerine-icon-theme Package

Package: nanggar-branding-system-config-printer
Architecture: all
Depends: ${shlibs:Depends}, system-config-printer
Description: Rebranding Ubuntu system-config-printer Package to BlankOn system-config-printer Package

Package: nanggar-branding-gnucash
Architecture: all
Depends: ${shlibs:Depends}, gnucash
Description: Rebranding Ubuntu gnucash Package to BlankOn gnucash Package

Package: nanggar-branding-network-manager-gnome
Architecture: all
Depends: ${shlibs:Depends}, network-manager-gnome
Description: Add LXDE into nm-applet.desktop

Package: nanggar-branding-base-files
Architecture: all
Depends: ${shlibs:Depends}, base-files
Description: Rebranding Ubuntu base-files Package to BlankOn base-files package
